body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1{
    font-size: 50px;
}
.orange-color{
    color: orange;
}
.section-1{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.flexible-container{
    display: flex;
    margin-bottom: 150px;
}
.header-text{
    width: 50%;
    padding-left:10%;
}
.hire-text{
    padding: 10px 40px;
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: white;
    font-weight: 600;
    border-radius: 5px;
   

}

.img-tag{
    width: 50%;
    
}
.img-tag img{
    width: 80%;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position:right;
}
.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.experience-item{
    width: 40%;
    margin: 5%;
    padding-left: 20px;
    border-radius: 5px;
    box-shadow: 10px 10px 40px gray;
}

#class-1{
    border-left: 7px solid rgb(201, 111, 111);

}
#class-2{
    border-left: 7px solid rgb(77, 77, 223);

}